<nav class="sidebar">
    <h3>Sidebar</h3>
    <ul>
      <li><a href="/secret">Home</a></li>
      <li><a href="/users/userslist">Users</a></li>
      <li><a href="/roles/rolelist">Roles</a></li>
      <li><a href="/records/listrecord">Records</a></li>
      <li><a href="/users/signout">logout</a></li>
      
    </ul>
</nav>
  